# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# AI
GEMINI_API_KEY=yhwgduwgydgywugdwy
OPENROUTER_API_KEY=gdgssfdghaghas
OPENROUTER_MODEL=google/gemini-2.5-flash

# Search
TAVILY_API_KEY=sfgsfdgsgs

# Optional local AI
OLLAMA_BASE_URL=http://localhost:11434